<?xml version="1.0"?>
<config>
	<modules>
		<Brijesh_Scrolltext>
			<version>0.1.0</version>
		</Brijesh_Scrolltext>
	</modules>
	<frontend>
		<routers>
			<scrolltext>
				<use>standard</use>
				<args>
					<module>Brijesh_Scrolltext</module>
					<frontName>scrolltext</frontName>
				</args>
			</scrolltext>
		</routers>
		<layout>
			<updates>
				<scrolltext>
					<file>scrolltext.xml</file>
				</scrolltext>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<scrolltext_sections>
											<title>Scroll Text</title>
											<sort_order>100</sort_order>
										</scrolltext_sections>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<global>
		<models>
            <scrolltext>
                <class>Brijesh_Scrolltext_Model</class>
            </scrolltext>
        </models>
		<blocks>
			<scrolltext>
				<class>Brijesh_Scrolltext_Block</class>
			</scrolltext>
		</blocks>
		<helpers>
			<scrolltext>
				<class>Brijesh_Scrolltext_Helper</class>
			</scrolltext>
		</helpers>
	</global>
</config>